$def with(contactos)

<h1>Lista contactos</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Opciones</th>
    </tr>
    $for contacto in contactos:
        <tr>
            <td>$contacto['id_contacto']</td>
            <td>$contacto['nombre']</td>
            <td>$contacto['primer_apellido']</td>
            <td>$contacto['segundo_apellido']</td>
            <td>$contacto['email']</td>
            <td>$contacto['telefono']</td>
            <td><a href="/ver_contacto/$contacto['id_contacto']">Ver Contacto</a>
            <a href="/modificar_contacto/$contacto['id_contacto']">Editar</a>
            <a href="/borrar_contacto/$contacto['id_contacto']">Borrar</a></td>
        </tr>
</table><br><br>
<a href="/insertar_contacto"><button type="button">Añadir Contacto</button></a>